<% if @user.errors.any? %>
  <div>
    <h4>
      Wait a minute,
      <%= pluralize(@user.errors.count,"error") %>
      here:
    </h4>
    <ol>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<p>
  <%= f.text_field :f_name, placeholder: "First Name" %>
</p>
<p>
  <%= f.text_field :l_name, placeholder: "Last Name" %>
</p>
<p>
  <%= f.text_field :username, placeholder: "Username" %>
</p>
<p>
  <%= f.text_field :email_address, placeholder: "Email Address" %>
</p>
