<div>
  <% if current_user != @user %>
    <h1><%= "@#{@user.username}" %></h1>
  <% end %>
</div>

<div>
  <nav>
    <div class="nav-watching">Watching</div>
    <div class="nav-to-watch">Want to Watch</div>
    <div class="nav-watched">Watched</div>
    <div class="nav-add-show">
      <%= link_to "+", new_user_show_path(current_user) %>
      <%= link_to "Add show", new_user_show_path(current_user) %>
    <div>
  </nav>

  <div class="list">

    <div class="list-watching">
      <% @user_shows.each do |show| %>
        <% if show.watching %>
          <div class="show-line">
            <p>
              <%= link_to "Done", done_user_show_path(@user, show) %> |
              <%= link_to "Sleep" %>
            </p>
            <p><%= show.title %></p>
            <p><%= link_to "x", user_show_path(@user, show), method: :delete %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="list-to-watch">
      <% @user_shows.each do |show| %>
        <% if show.to_watch %>
          <div class="show-line">
            <p><%= link_to "Start", start_user_show_path(@user, show) %></p>
            <p><%= show.title %></p>
            <p><%= link_to "x", user_show_path(@user, show), method: :delete %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="list-watched">
      <% @user_shows.each do |show| %>
        <% if show.watched %>
          <div class="show-line">
            <p><%= show.title %></p>
            <p><%= link_to "x", user_show_path(@user, show), method: :delete %></p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

</div>

<p>
  <!-- <%= link_to "Back to all posts", "/", {:class => "back"} %> -->
  <% if @user == current_user %>
    <a class="change">
      <%= link_to "Delete Account", user_path(@user),
          method: :delete,
          data: { confirm: "Are you sure you want to permanently delete your account?" } %>
    </a>
  <% end %>
</p>
<div class="edit_prof">
  <% if @user == current_user %>
    <%= link_to "Edit Profile", edit_user_path %>
  <% end %>
</div>
